body {
    background: #202020;
    color: white;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .col-md-12 {
        margin-top: 20px;
      }
      #form-actaE {
        display: none;
      }
      #form-actaH {
        display: none;
      }
}