body {
    background: #202020;
    color: white;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .col-md-12 {
        margin-top: 20px;
      }
      #form-actaE {
        display: none;
      }
      #form-actaH {
        display: none;
      }
      #IR-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    
      #IRJira, #Acta, #Plano, #ENTREGAR, #ORDENAR  {
        margin: 5px;
      }

      /* Centrar el iframe */
      iframe {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* Eliminar la barra de desplazamiento */
      iframe {
        overflow: hidden;
      }

}